<div class="content">
    <div class="main-element">
        <div class="message-element">
            <img src="../../../assets/logo.svg" alt="">
            <h2>Cadastro</h2>
            <p>Faça seu cadastro, entre na plataforma e ajude 
                pessoas a encontrarem os casos da sua ONG.
            </p>

            <a routerLink="/login"><mat-icon>arrow_back_ios</mat-icon>Voltar para o login</a>
        </div>
        <div class="fields">
            <input type="text" placeholder="Nome da ONG" #name>
            <input type="email" placeholder="E-mail" #email>
            <input type="number" placeholder="Whatsapp" #phone>
            <div>
                <input class="city" type="text" placeholder="Cidade" #city>
                <input class="uf" type="text" placeholder="UF" maxlength="2" #region>
            </div>
            <button
                class="button-register" 
                (click)="create(name.value, email.value, phone.value, city.value, region.value)">Cadastrar
            </button>
        </div>
    </div>
</div>