<div class="content">
    <div class="main-element">
        <div class="message-element">
            <img src="../../../assets/logo.svg" alt="">
            <h2>Cadastrar novo caso</h2>
            <p>Descreva o caso detalhadamente para encontrar um herói para resolver isso.</p>

            <a href="/"><mat-icon>arrow_back_ios</mat-icon>Voltar para home</a>
        </div>
        <div class="fields">
            <input type="text" placeholder="Título do caso">
            <textarea placeholder="Descrição"></textarea>
            <input type="text" placeholder="Valor em reais">
            <div class="button-area">
                <button class="button-cancel">Cancelar</button>
                <button class="button-register">Cadastrar</button>
            </div>
        </div>
    </div>
</div>