
<div class="content"  id="header">
    <div class="header">
        <img src="../../../assets/logo.svg">
        <div class="button-area">
            <button class="act-button">Fazer login</button>
            <button class="logout-button">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </div>
    </div>

    <h2 class="title">Lista de projetos</h2>
    <a href="#header" class="button-navigation">
        <button><mat-icon>arrow_circle_up</mat-icon></button>
    </a>
    <div class="card-content">
        <app-project></app-project>
    </div>
</div>