
<div class="content"  id="header">
    <div class="header">
        <img src="../../../assets/logo.svg">
        <div class="button-area">
            <button *ngIf="!userLogged" class="act-button" routerLink="/login">Fazer login</button>
            <button *ngIf="userLogged" class="act-button-create" routerLink="/novo-caso">Cadastrar novo caso</button>
            <button *ngIf="userLogged" class="logout-button" routerLink="/login" (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </div>
    </div>

    <h2 *ngIf="!userLogged" class="title">Lista de projetos</h2>
    <h2 *ngIf="userLogged" class="title">Seus casos cadastrados</h2>
    <a href="#header" class="button-navigation">
        <button><mat-icon>arrow_circle_up</mat-icon></button>
    </a>
    <div class="card-content">
        <app-case *ngIf="!userLogged" [cases]="cases"></app-case>
        <app-project *ngIf="userLogged" [cases]="cases"></app-project>
    </div>
</div>